<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= time_tag post.updated_at, "data-local":  "time", "data-format": "%B %e, %Y %l:%M%P" %>
  </p>

</div>
